# Frontend ignores
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.env.local

# Backend ignores
backend/target/
backend/.env
backend/.idea/
backend/*.iml

# General ignores
.DS_Store
